# Copyright 2023-2024 Shinami Corp.
# SPDX-License-Identifier: Apache-2.0

name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm ci
      - uses: actions/setup-python@v5 # needed by pre-commit
      - uses: pre-commit/action@v3.0.1
      - name: Client Unit Tests
        env:
          SUI_NODE_ACCESS_KEY: ${{ secrets.SUI_SUPER_ACCESS_KEY }}
          SUI_GAS_ACCESS_KEY: ${{ secrets.SUI_SUPER_ACCESS_KEY }}
          SUI_WALLET_ACCESS_KEY: ${{ secrets.SUI_SUPER_ACCESS_KEY }}
          APTOS_NODE_ACCESS_KEY: ${{ secrets.APTOS_SUPER_ACCESS_KEY }}
          APTOS_GAS_ACCESS_KEY: ${{ secrets.APTOS_SUPER_ACCESS_KEY }}
          APTOS_WALLET_ACCESS_KEY: ${{ secrets.APTOS_SUPER_ACCESS_KEY }}
        run: |
          npm run coverage
      - name: Upload reports to Codecov
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: ivanpeng/shinami-typescript-sdk
        run: |
          curl -Os https://cli.codecov.io/latest/linux/codecov
          sudo chmod +x codecov
          npm run upload

  check_copyright_header:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: stable
      - run: go install github.com/google/addlicense@v1.1.1
      - run: addlicense -c "Shinami Corp." -s=only -check -ignore "examples/**" .
