# Copyright 2023 Shinami Corp.
# SPDX-License-Identifier: Apache-2.0

name: Release

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      package:
        description: The package to publish
        required: true
        type: choice
        options:
          - clients
          - nextjs-zklogin
          - legacy

defaults:
  run:
    shell: bash

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - id: determine-package
        run: |
          if [ "${{ github.event_name }}" = "release" ]; then
            package=$(echo "${{ github.event.release.tag_name }}" | sed -E 's/-v[0-9].*$//')
          else
            package="${{ inputs.package }}"
          fi
          [ -n "$package" ] || exit 1
          echo "PACKAGE=$package" >> "$GITHUB_OUTPUT"
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm run build
      - run: npm publish --workspace "packages/${{ steps.determine-package.outputs.PACKAGE }}" --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
